[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
cattrs = "*"
attrs = "*"
python-dotenv = "*"
datargs = "*"
textual = "*"

[dev-packages]
pylsp-mypy = "*"
pylsp-rope = "*"

[requires]
python_version = "3.12"
